﻿@model LabW02BMITracker.Models.HealthProfile

@{
    ViewData["Title"] = "CreateProfile";
}

<h1>CreateProfile</h1>

<h4>HealthProfile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateProfile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control">
                    <option value="0">Female</option>
                    <option value="1">Male</option>
                    <option value="2">Other</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthMonth" class="control-label"></label>
                <input asp-for="BirthMonth" class="form-control" />
                <span asp-validation-for="BirthMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDay" class="control-label"></label>
                <input asp-for="BirthDay" class="form-control" />
                <span asp-validation-for="BirthDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthYear" class="control-label"></label>
                <input asp-for="BirthYear" class="form-control" />
                <span asp-validation-for="BirthYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeightInInches" class="control-label"></label>
                <input asp-for="HeightInInches" class="form-control" />
                <span asp-validation-for="HeightInInches" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightInPounds" class="control-label"></label>
                <input asp-for="WeightInPounds" class="form-control" />
                <span asp-validation-for="WeightInPounds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
