﻿@model HealthProfile[]
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BMI Tracker Application</h1>

</div>
<p>You have @Model.Count(hp => hp != null) profile(s).</p>
<a class="btn btn-primary" asp-action="CreateProfile">Create a New Profile</a>
<a class="btn btn-primary" asp-action="ViewProfiles">View Profiles</a>
