﻿@model LabW02BMITracker.Models.HealthProfile


@{
    ViewData["Title"] = "ProfileDetails";
}

<h1>ProfileDetails</h1>

<div>
    <h4>HealthProfile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthMonth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthMonth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeightInInches)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeightInInches)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WeightInPounds)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WeightInPounds)
        </dd>
        <dt class="col-sm-2">
            Age
        </dt>
        <dd class="col-sm-10">
            @Model.GetAgeInYears()
        </dd>
        <dt class="col-sm-2">
            Maximum Heart
        </dt>
        <dd class="col-sm-10">
            @Model.GetMaxHeart()
        </dd>
        <dt class="col-sm-2">
            Target Minimum Heart Rate
        </dt>
        <dd class="col-sm-10">
            @Model.GetTargetMinimumHeartRate()
        </dd>
        <dt class="col-sm-2">
            Target Maximum Heart Rate
        </dt>
        <dd class="col-sm-10">
            @Model.GetTargetMaximumHeartRate()
        </dd>
        <dt class="col-sm-2">
            BMI
        </dt>
        <dd class="col-sm-10">
            @Model.GetBMI()
        </dd>
        <dt class="col-sm-2">
            Body State
        </dt>
        <dd class="col-sm-10">
            @Model.GetBodyState()
        </dd>


    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
